<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 d-flex justify-content-center justify-content-md-end">
        <img src="assets/angular-material-extensions-logo.svg" alt="@angular-material-extensions/password-strength logo"
             class="logo">
      </div>
      <div class="col-sm-8 text-center text-md-left">
        <h1>@angular-material-extensions/password-strength</h1>
        <p>Material password strength meter to indicate how secure is the provided password</p>
        <p>Scroll down to see it in action!</p>
        <p class="buttons">
          <a class="btn btn-outline-primary btn-lg"
             href="https://github.com/angular-material-extensions/password-strength" target="_blank"><i
            class="fa fa-github fa-lg"></i> Code on Github</a>
          <a class="btn btn-outline-primary btn-lg" href="doc/index.html" target="_blank"><i
            class="fa fa-book fa-lg"></i> Documentation</a>
        </p>
      </div>
    </div>

  </div>
</div>

<section class="home">
  <div class="container">

    <div fxLayout="column">
      <mat-toolbar>
        @angular-material-extensions/password-strength
        <span style="width: 100%"></span>

        <button mat-icon-button
                color="accent"
                matTooltip="view source"
                (click)="viewSource2 = !viewSource2">
          <mat-icon>code</mat-icon>
        </button>
      </mat-toolbar>
      <mat-card>
        <mat-card-subtitle>
          stand alone password component
        </mat-card-subtitle>


        <mat-card-content *ngIf="viewSource2">
          <mat-tab-group>
            <!--tab 1-->
            <mat-tab>
              <ng-template mat-tab-label>HTML</ng-template>
              <pre><code highlight [highlight]="html1"></code></pre>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>TS</ng-template>
              <pre><code highlight [highlight]="ts"></code></pre>
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>

        <mat-card-subtitle fxLayout="row" fxLayoutGap="10px">
          <mat-slide-toggle (change)="onSlideToggleChange($event)">Show Password</mat-slide-toggle>
          <mat-slide-toggle [(ngModel)]="showDetails">Show Password Details</mat-slide-toggle>
        </mat-card-subtitle>

        <mat-card-content>
          <div>

            <!--password input filed-->
            <mat-form-field appearance="outline" style="width: 100%" [color]="passwordComponent.color">
              <mat-label>Password</mat-label>
              <input matInput #password
                     [type]="inputType"
                     required
                     placeholder="Password">
              <mat-hint align="end" aria-live="polite">
                {{password.value.length}} / 25
              </mat-hint>
            </mat-form-field>

            <!--@angular-material-extensions/password-strength's main component-->
            <mat-password-strength #passwordComponent
                                   [enableDigitRule]="true"
                                   (onStrengthChanged)="onStrengthChanged($event)"
                                   [password]="password.value">
            </mat-password-strength>

            <!--Password's strength info-->
            <mat-password-strength-info
              *ngIf="showDetails"
              [passwordComponent]="passwordComponent">
            </mat-password-strength-info>

          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <!--NGX-MATERIAL-PASSWORD-STRENGTH WITH VALIDATION AND FORM CONTROLLER-->

    <div fxLayout="column" style="margin-top: 3rem">
      <mat-toolbar>
        @angular-material-extensions/password-strength
        <span style="width: 100%"></span>

        <button mat-icon-button
                color="accent"
                matTooltip="view source"
                (click)="viewSource = !viewSource">
          <mat-icon>code</mat-icon>
        </button>
      </mat-toolbar>
      <mat-card>
        <mat-card-subtitle>
          client side password validation with angular form controller
        </mat-card-subtitle>
        <mat-card-subtitle fxLayout="row" fxLayoutGap="10px">
          <mat-slide-toggle (change)="onSlideToggleChange($event)">Show Password</mat-slide-toggle>
          <mat-slide-toggle [(ngModel)]="showDetails2">Show Password Details</mat-slide-toggle>
        </mat-card-subtitle>

        <mat-card-content *ngIf="viewSource">
          <mat-tab-group>
            <!--tab 1-->
            <mat-tab>
              <ng-template mat-tab-label>HTML</ng-template>
              <pre><code highlight [highlight]="html2"></code></pre>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>TS</ng-template>
              <pre><code highlight [highlight]="ts"></code></pre>
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>

        <mat-card-content>

          <!--password input filed-->
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Password</mat-label>
            <input matInput #passwordWithValidation
                   [type]="inputType"
                   required
                   [formControl]="passwordComponentWithValidation.passwordFormControl"
                   placeholder="Password">

            <!--password hint-->
            <mat-hint align="end" aria-live="polite">
              {{passwordWithValidation.value.length}} / 25
            </mat-hint>

            <!--password error msgs-->
            <mat-error *ngIf="passwordComponentWithValidation.passwordFormControl.hasError('required')">
              Password is required
            </mat-error>
            <mat-error *ngIf="passwordComponentWithValidation.passwordFormControl.hasError('pattern')">
              Password is not valid
            </mat-error>

          </mat-form-field>

          <!--@angular-material-extensions/password-strength's main component-->
          <mat-password-strength #passwordComponentWithValidation
                                 (onStrengthChanged)="onStrengthChanged($event)"
                                 [password]="passwordWithValidation.value">
          </mat-password-strength>

          <!--Password's strength info-->
          <mat-password-strength-info
            *ngIf="showDetails2"
            [passwordComponent]="passwordComponentWithValidation">
          </mat-password-strength-info>

        </mat-card-content>

      </mat-card>
    </div>
  </div>

</section>
