.logo {
  width: 256px;
  height: 256px;
  margin-top: 1.4rem;
}

.jumbotron {
  margin-top: 1.0rem;

  h1 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

button:focus {
  outline: none;
}
