<mat-card @list>
  <mat-card-content>
    <div class="info-row" @items *ngIf="passwordComponent.enableLowerCaseLetterRule">
      <div *ngIf="passwordComponent.containAtLeastOneLowerCaseLetter; then done else error" @flipY>
      </div>
      <ng-template #done>
        <mat-icon @positiveState color="primary">done</mat-icon>
      </ng-template>
      <ng-template #error>
        <mat-icon @negativeState color="warn">error</mat-icon>
      </ng-template>
      <div>
        <p>{{lowerCaseCriteriaMsg}}</p>
      </div>
    </div>

    <div class="info-row" @items *ngIf="passwordComponent.enableUpperCaseLetterRule">
      <div *ngIf="passwordComponent.containAtLeastOneUpperCaseLetter; then done else error">
      </div>
      <ng-template #done>
        <mat-icon @positiveState color="primary">done</mat-icon>
      </ng-template>
      <ng-template #error>
        <mat-icon @negativeState color="warn">error</mat-icon>
      </ng-template>
      <div>
        <p>{{upperCaseCriteriaMsg}}</p>
      </div>
    </div>

    <div class="info-row" @items *ngIf="passwordComponent.enableDigitRule">
      <div *ngIf="passwordComponent.containAtLeastOneDigit; then done else error">
      </div>
      <ng-template #done>
        <mat-icon @positiveState color="primary">done</mat-icon>
      </ng-template>
      <ng-template #error>
        <mat-icon @negativeState color="warn">error</mat-icon>
      </ng-template>
      <div>
        <p>{{digitsCriteriaMsg}}</p>
      </div>
    </div>

    <div class="info-row" @items *ngIf="passwordComponent.enableSpecialCharRule">
      <div *ngIf="passwordComponent.containAtLeastOneSpecialChar; then done else error">
      </div>
      <ng-template #done>
        <mat-icon @positiveState color="primary">done</mat-icon>
      </ng-template>
      <ng-template #error>
        <mat-icon @negativeState color="warn">error</mat-icon>
      </ng-template>
      <div>
        <p>{{specialCharsCriteriaMsg}}</p>
      </div>
    </div>

    <div class="info-row" @items *ngIf="passwordComponent.enableLengthRule">
      <div *ngIf="passwordComponent.containAtLeastMinChars; then done else error">
      </div>
      <ng-template #done>
        <mat-icon @positiveState color="primary">done</mat-icon>
      </ng-template>
      <ng-template #error>
        <mat-icon @negativeState color="warn">error</mat-icon>
      </ng-template>
      <div>
        <p>{{minCharsCriteriaMsg}}</p>
      </div>
    </div>

    <div class="info-row" @items *ngIf="passwordComponent.customValidator">
      <div *ngIf="passwordComponent.containAtCustomChars; then done else error">
      </div>
      <ng-template #done>
        <mat-icon @positiveState color="primary">done</mat-icon>
      </ng-template>
      <ng-template #error>
        <mat-icon @negativeState color="warn">error</mat-icon>
      </ng-template>
      <div>
        <p>{{customCharsCriteriaMsg}}</p>
      </div>
    </div>

    <div *ngIf="enableScoreInfo" class="info-row" @items>
      <div *ngIf="passwordComponent.strength === 100; then done else error">
      </div>
      <ng-template #done>
        <mat-icon @positiveState color="primary">done</mat-icon>
      </ng-template>
      <ng-template #error>
        <mat-icon @negativeState color="warn">error</mat-icon>
      </ng-template>
      <div>
        <p>Password's strength = {{passwordComponent.strength}} %100</p>
      </div>
    </div>

  </mat-card-content>
</mat-card>
