<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Explore the info component</h1>
  </div>
</div>

<div class="container">

  <mat-card fxLayoutAlign="center center">
    <mat-card-content>
      <div>

        <!--password input filed-->
        <mat-form-field appearance="outline" [color]="passwordComponent.color">
          <mat-label>Password</mat-label>
          <input matInput #password
                 [type]="inputType"
                 required
                 placeholder="Password">
          <mat-hint align="end" aria-live="polite">
            {{password.value.length}} / 25
          </mat-hint>
        </mat-form-field>

        <!--@angular-material-extensions/password-strength's main component-->
        <mat-password-strength #passwordComponent
                               [password]="password.value">
        </mat-password-strength>

        <mat-card class="example-info-card">
          <mat-card-header>
            <mat-card-title>Ex.1 - Default input</mat-card-title>
            <mat-card-subtitle>info component with default messages</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <!--Password's strength info-->
            <mat-password-strength-info
              [passwordComponent]="passwordComponent">
            </mat-password-strength-info>
          </mat-card-content>
          <mat-card-footer>
            <markdown src="assets/md/examples/info/e1.md"></markdown>
          </mat-card-footer>
        </mat-card>

        <mat-card class="example-info-card">
          <mat-card-header>
            <mat-card-title>Ex.2 - Custom messages</mat-card-title>
            <mat-card-subtitle>info component with custom messages</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <!--Password's strength info-->
            <mat-password-strength-info
              lowerCaseCriteriaMsg="your best lower case criteria msg"
              upperCaseCriteriaMsg="your best upper case criteria msg"
              digitsCriteriaMsg="your best digit char criteria msg"
              specialCharsCriteriaMsg="your best special char criteria msg"
              minCharsCriteriaMsg="your best min char criteria msg"
              [passwordComponent]="passwordComponent">
            </mat-password-strength-info>
          </mat-card-content>
          <mat-card-footer>
            <markdown src="assets/md/examples/info/e2.md"></markdown>
          </mat-card-footer>
        </mat-card>

        <mat-card class="example-info-card">
          <mat-card-header>
            <mat-card-title>Ex.3 - Using ngx-translate</mat-card-title>
            <mat-card-subtitle>store your msgs in an appropriate i18n json file</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>

            <mat-radio-group [(ngModel)]="lang" (change)="changeLanguage($event)">
              <mat-radio-button value="en">English</mat-radio-button>
              <mat-radio-button value="de">German</mat-radio-button>
              <mat-radio-button value="fr">French</mat-radio-button>
            </mat-radio-group>

            <!--Password's strength info-->
            <mat-password-strength-info
              [lowerCaseCriteriaMsg]="'LOWER_CASE_CRITERIA_MSG' | translate"
              [upperCaseCriteriaMsg]="'UPPER_CASE_CRITERIA_MSG'| translate"
              [digitsCriteriaMsg]="'DIGITS_CRITERIA_MSG'| translate"
              [specialCharsCriteriaMsg]="'SPECIAL_CHARS_CRITERIA_MSG' | translate"
              [minCharsCriteriaMsg]="'MIN_CHARS_CRITERIA_MSG' | translate: {value:passwordComponent.min}"
              [passwordComponent]="passwordComponent">
            </mat-password-strength-info>
          </mat-card-content>
          <mat-card-footer>
            <markdown src="assets/md/examples/info/e3.md"></markdown>
          </mat-card-footer>
        </mat-card>

      </div>
    </mat-card-content>
  </mat-card>

</div>
